page {
  background-color: #F9F4EF;
  --td-brand-color:          #4DBFB4;
  --td-brand-color-active:   #3aa9a0;
  --td-brand-color-disabled: rgba(77,191,180,0.4);
  --td-brand-color-light:    rgba(77,191,180,0.12);
}

.cell-group-class {
  margin: 32rpx !important;
}
