@import '/variable.less';

@home-tab-item-height: 96rpx;

.home-container {
  height: calc(100vh - @tab-bar-height);

  .home-content {
    height: calc(100% - @nav-bar-height);
    background-color: @bg-color;
  }

  .home-swiper {
    height: 100%;
  }

  .home-swiper__item {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24rpx 24rpx 120rpx;
    box-sizing: border-box;
  }
}
